.mainWrap {
    display: flex;
    flex-direction: column;
    background: #050505;
    height: calc(100vh - 80px);
    gap: 2px;
    width: 100vw;
    padding: 2px 0 0 0;
}

.CodeMirror {
    min-height: calc(72vh - 105px);
    font-size: 14px;
    line-height: 1.3;
    width: 100%;
}

.outputPage {
    height: 22vh;
    max-height: 22vh;
    overflow: auto;
    line-height: 1.5;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 0 5px 15px;
    background-color: #0F111A;
    width: calc(100% - 15px);
    right: 0;
}

.output-compiling {
    font-size: 1rem;
    font-weight: bold;
}

.fileName {
    background-color: #121423;
    padding: 2px 25px 0px 10px;
    font-weight: bold;
    font-size: 14px;
}

.fileNameDiv {
    height: 22px;
    padding: 0 0 1px 0;
}

.editorFooter {
    text-align: center;
    font-size: 15px;
    width: 100%;
    height: 22px;
    background-color: #6760f6;
    display: block;
}

.editorFooter a {
    text-decoration: none;
    color: #050505;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

a:hover {
    color: #303030;
}

@keyframes compiling {
    0% {
        content: "Executing";
    }

    25% {
        content: "Executing.";
    }

    50% {
        content: "Executing..";
    }

    75% {
        content: "Executing...";
    }

    100% {
        content: "Executing";
    }
}

.compiling-text::after {
    content: " ";
    animation: compiling 1s infinite;
}

.CodeMirror-vscrollbar::-webkit-scrollbar {
    width: 5px;
}

.CodeMirror-vscrollbar::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #9e9e9f61;
}

@media (max-width: 900px) {
    .outputPage {
        height: 24vh;
        max-height: 24vh;
    }
}